automat==22.10.0
babel==2.8.0
bcrypt==3.2.0
blinker==1.4
certifi==2020.6.20
channels==4.0.0
chardet==4.0.0
cloud-init==22.2
colorama==0.4.4
colorlover==0.3.0
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
dbus-python==1.2.18
distro==1.7.0
distro-info==1.1build1
dj-database-url==1.0.0
django-adaptors==0.2.5
django-celery-beat==2.4.0
django-celery-results==2.4.0
django-crispy-forms==1.14.0
django-perms==2.1.0
django-redis==5.2.0
djoser==2.1.0
dpd-components==0.1.0
flake8==5.0.4
gevent==22.10.2
gunicorn==20.1.0
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.6.4
incremental==22.10.0
jeepney==0.7.1
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
launchpadlib==1.10.16
markupsafe==2.0.1
more-itertools==8.10.0
netifaces==0.11.0
pandas-datareader==0.10.0
pexpect==4.8.0
pip-chill==1.0.1
pre-commit==2.20.0
psycopg2-binary==2.9.5
ptyprocess==0.7.0
pygobject==3.42.0
pyhamcrest==2.0.2
pylint-django==2.5.3
pyopenssl==22.1.0
pyrsistent==0.18.1
pyserial==3.5
python-apt==2.3.0+ubuntu2
python-debian==0.1.43ubuntu1
secretstorage==3.3.1
service-identity==21.1.0
sos==4.3
ssh-import-id==5.11
systemd-python==234
twisted==22.1.0
ubuntu-advantage-tools==27.9
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.5
wadllib==1.3.6
whitenoise==6.2.0
zipp==1.0.0
