
automat==22.10.0
channels==4.0.0
colorlover==0.3.0
dj-database-url==1.0.0
django-adaptors==0.2.5
django-celery-beat==2.4.0
django-celery-results==2.4.0
django-crispy-forms==1.14.0
django-perms==2.1.0
django-redis==5.2.0
djoser==2.1.0
dpd-components==0.1.0
flake8==5.0.4
gevent==22.10.2
incremental==22.10.0
pandas-datareader==0.10.0
pip-chill==1.0.1
pre-commit==2.20.0
psycopg2-binary
pylint-django==2.5.3
pyopenssl==22.1.0
service-identity==21.1.0
whitenoise==6.2.0
